.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 15px;
    .user-img{
         img{
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 2px solid #3e8914ff;
            padding: 2px;
        }
    }
    .user-name{
        font-size: 20px;
    }
    .btn-exit{
        background-color: #134611ff;
        margin-left: 10px;
        color: white;
        &:hover, &:focus, &:active{
            background-color: #79b28fff;
            color: $beige;
        }
    }
}

