*, *:after,*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}
body{
    font-size: 100%;
    list-style-type: none;
    background-color: $beige;
}

.main{
    padding-top: 90px;
    width: 100%;
    h1, h2, h3, h4, h5, h6{
        color: black;        
    }
    .form{
        box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.25);
        padding: 15px;
        border: 1px solid black;
        border-radius: 15px;
        form{
            .input-group {
                margin-bottom: 10px;
                .form-control {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    border-radius: 0;
                    &:hover, &:active, &:focus {
                        box-shadow: none;
                    }
                }
            }
            .btn-custom {
                background-color: $light-green;
                border: 1px solid white;
                color: black;
                padding: 5px 15px;
                cursor: pointer;
                &:hover {
                    background-color: $medium-jungle;
                    color: $beige;
                }
            }
        }
        .fast-link{
            a{
                color: black;
                font-size: 14px;
                text-decoration: none;
                &:hover{
                    color: $black-forest;
                }
            }
        }
    }
}

#tasks-list{
    margin: 10px 0;
    padding-bottom: 10px;
}

#tasks-list li{
    position: relative;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#tasks-list li a{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 5px;
    width: 90%;
    text-decoration: none;
    color: black;
}

#tasks-list li a.completed{
    text-decoration: line-through #cdcdcc;
    color: #cdcdcd;
}

#tasks-list li .action-icons{
    display: flex;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 3px;
}

#tasks-list li .action-icons span{
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
}

// Registration page styles
.registra{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .header{
        display: none;
    }
    .main{
        margin: 0;
        padding: 0;
    }
}


// Login page styles
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    .header{
        display: none;
    }
    .main{
        margin: 0;
        padding: 0;
    }
}