/* SCSS HEX */
$black-forest: #134611ff;
$india-green: #3e8914ff;
$medium-jungle: #3da35dff;
$light-green: #96e072ff;
$frosted-mint: #e8fccfff;
$beige: #f2fbe0ff;
$frosted-mint-2: #d4e9ccff;
$celadon: #b6d7b8ff;
$muted-teal: #79b28fff;
$dark-emerald: #00693eff;


/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-right: linear-gradient(90deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-bottom: linear-gradient(180deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-left: linear-gradient(270deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-top-right: linear-gradient(45deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-bottom-right: linear-gradient(135deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-top-left: linear-gradient(225deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-bottom-left: linear-gradient(315deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-radial: radial-gradient(#134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
*/