*, *:after,*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    overflow-x: hidden;
}
body{
    font-size: 100%;
    list-style-type: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.main{
    padding-top: 50px;
}

#tasks-list{
    margin: 10px 0;
    padding-bottom: 30px;
}

#tasks-list li{
    border-bottom: 1px solid #cdcdcd;
}

#tasks-list li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#add-button{
    position: fixed;
    top: auto;
    bottom: 50px;
    left: auto;
    right: 50px;
    z-index: 999;
}