/* SCSS HEX */
/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-right: linear-gradient(90deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-bottom: linear-gradient(180deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-left: linear-gradient(270deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-top-right: linear-gradient(45deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-bottom-right: linear-gradient(135deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-top-left: linear-gradient(225deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-bottom-left: linear-gradient(315deg, #134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
$gradient-radial: radial-gradient(#134611ff, #3e8914ff, #3da35dff, #96e072ff, #e8fccfff, #f2fbe0ff, #d4e9ccff, #b6d7b8ff, #79b28fff, #00693eff);
*/
@import '/assets/css/reset.css';
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 15px;
}
.header .user-img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #3e8914;
  padding: 2px;
}
.header .user-name {
  font-size: 20px;
}
.header .btn-exit {
  background-color: #134611;
  margin-left: 10px;
  color: white;
}
.header .btn-exit:hover, .header .btn-exit:focus, .header .btn-exit:active {
  background-color: #79b28f;
  color: #f2fbe0;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}

body {
  font-size: 100%;
  list-style-type: none;
  background-color: #d4e9cc;
}

.main {
  padding-top: 90px;
  width: 100%;
}
.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  color: black;
}
.main .form {
  -webkit-box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
          box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  background-color: white;
}
.main .form .title-form-icon {
  font-size: 22px;
  color: #3da35d;
  margin-right: 5px;
}
.main .form h5 {
  font-size: 22px;
  font-weight: bold;
}
.main .form form .input-group {
  position: relative;
  margin-bottom: 10px;
}
.main .form form .input-group span {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 16px;
  color: #3da35d;
  z-index: 99;
}
.main .form form .input-group .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 5px 0;
  padding-left: 30px;
}
.main .form form .input-group .form-control:hover, .main .form form .input-group .form-control:active, .main .form form .input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main .form form .form-check.form-switch {
  margin-bottom: 8px;
}
.main .form form .form-check.form-switch #switchCheckDefault {
  background-color: #3da35d;
  border-color: #3da35d;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #3da35d;
}
.main .form form .form-check.form-switch a {
  color: black;
  text-decoration: none;
}
.main .form form .form-check.form-switch a:hover, .main .form form .form-check.form-switch a:focus {
  color: #3da35d;
}
.main .form form .btn-custom {
  font-size: 20px;
  background-color: #96e072;
  border: 1px solid white;
  color: black;
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 10px !important;
}
.main .form form .btn-custom:hover, .main .form form .btn-custom:focus {
  background-color: #3da35d;
  color: #f2fbe0;
}
.main .form .fast-link a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.main .form .fast-link a:hover {
  color: #3da35d;
}

.app .list-extern {
  width: 80%;
  margin: 0 auto;
  border: 2px solid green;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}
.app #tasks-list {
  margin: 10px 0;
  padding-bottom: 10px;
  padding-left: 15px;
}
.app #tasks-list li {
  position: relative;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.app #tasks-list li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 5px;
  width: 90%;
  text-decoration: none;
  color: black;
}
.app #tasks-list li a.completed {
  -webkit-text-decoration: line-through #cdcdcc;
          text-decoration: line-through #cdcdcc;
  color: #cdcdcd;
}
.app #tasks-list li .action-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 3px;
}
.app #tasks-list li .action-icons span {
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}
.app #task-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
}

.registra footer #add-button, .login footer #add-button, .reset footer #add-button {
  display: none;
}

.registra {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/out.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.registra .header {
  display: none;
}
.registra .main {
  margin: 0;
  padding: 0;
}
.registra .main .form {
  width: 45%;
  margin: 0 auto;
}

.login, .reset {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login .header, .reset .header {
  display: none;
}
.login .main, .reset .main {
  margin: 0;
  padding: 0;
}
.login .main .form, .reset .main .form {
  padding: 35px 20px 35px 30px;
  border-radius: 20px 0px 0px 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.login .main .form .login-reset, .reset .main .form .login-reset {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #3da35d;
  text-decoration: none;
}
.login .main .form .login-reset:hover, .reset .main .form .login-reset:hover {
  color: #96e072;
}
.login .main .login-img, .reset .main .login-img {
  background-color: #E9E8C9;
  padding: 64px 0;
  border-radius: 0px 20px 20px 0px;
}
.login .main .login-img img, .reset .main .login-img img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.reset .main .login-img {
  padding: 25px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .btn.btn-custom {
  background-color: #3da35d;
  border-color: #3da35d;
  color: white;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.footer .btn.btn-custom:hover, .footer .btn.btn-custom:focus {
  background-color: rgb(47.1116071429, 125.8883928571, 71.8258928571);
  border-color: rgb(47.1116071429, 125.8883928571, 71.8258928571);
  color: white;
}
.footer .modal .btn-danger {
  display: none;
}
.footer #modalDeletTask .input-group input, .footer #modalDeletTask .input-group #add-task {
  display: none;
}
.footer #modalDeletTask .input-group .btn-danger {
  display: block;
}
.footer #add-button {
  position: fixed;
  top: auto;
  bottom: 50px;
  left: auto;
  right: 50px;
  z-index: 999;
}

@media (max-width: 1200px) {
  .registra .main .form {
    width: 55%;
  }
}
@media (max-width: 992px) {
  .registra .main .form {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .registra .main .form {
    width: 80%;
  }
  .login .main .form, .reset .main .form {
    border-radius: 20px 20px 0 0;
  }
  .login .main .login-img, .reset .main .login-img {
    border-radius: 0 0 20px 20px;
  }
  .app .list-extern {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .registra .main .form {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */